<h3>Ask a question to your Coach</h3>
<br>

  <form action="/answer" class="d-flex justify-content-center">
    <div>
      <input type="text" name="message" class="form-control" placeholder="Type question here...">
    </div>
    <div>
      <input type="submit" value="ASK" class="btn btn-primary">
    </div>
  </form>
